


.next {
    color: rgba(0, 0, 0, 0.26);
    font-size: 40px;
    cursor: pointer;
}



.container-box {
    margin: 0 auto;
    width: 600px;
    height: 600px;
}

.titolo {
    height: 200px;
   
}

.testo {
    height: 200px;
}

.box-img {
    height: 200px;
    background-size: contain;
}